<div class="m-45px">
  <div class="search-add-wrapper">
    <button
      mat-raised-button
      color="primary"
      class="mr-20px"
      (click)="openCreateEmployeeDialog()"
    >
      <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field floatLabel="never" class="w-100">
      <input
        matInput
        placeholder="Search"
        value="value"
        autocomplete="off"
        [(ngModel)]="searchKey"
        (keyup)="applyFilter()"
      />
      <button
        mat-button
        mat-icon-button
        matSuffix
        *ngIf="searchKey"
        (click)="clearSearchBox()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z5">
    <mat-table [dataSource]="employeeList" matSort>
      <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Full Name</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.fullName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Email</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Mobile</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.mobile }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Department</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{
          element.departmentName
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >City</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.city }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let data" class="actions">
          <div class="show-edit-delete">
            <button mat-icon-button (click)="openEditEmployeeDialog(data)">
              <mat-icon>launch</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteEmployeeConfirm(data.$key)"
            >
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="non-data">
        <mat-footer-cell *matFooterCellDef>Data not found...</mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <mat-footer-row
        *matFooterRowDef="['non-data']"
        [ngClass]="{
          hide: !!(employeeList && employeeList.data.length !== 0)
        }"
      ></mat-footer-row>
    </mat-table>
    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
